h1 {
  font-size: $fs-xxl;
}

h2 {
  font-size: $fs-xl;
}

h3 {
  font-size: $fs-l;
}

h4 {
  font-size: $fs-m;
}

h5 {
  font-size: $fs-s;
}

small {
  font-size: 70%;
}

.bold {
  font-weight: bold;
}

.sub-text {
  color: $grey-3;
}