@import url("normalize.css");

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body,
.crypto::before {
  /* Linear gradient to create a darker background */
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../img/bg-vert.jpg") no-repeat center center fixed;
  /* 106% needed so blur covers entire screen */
  background-size: 106% auto;
}

.ticker-container:empty,
.articles:empty {
  position: absolute;
  top: calc(50% - 80px + 6.25%);
  left: calc(50% - 80px + 6.25%);
  width: 160px;
  height: 160px;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 0 !important;
  margin: 0 !important;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  font-family: $ff-main;
  overflow: hidden;
  #app {
    .container {
      display: grid;
      grid-template-columns: 50% 50%;
      .panel {
        height: 100vh;
      }
      .crypto {
        position: relative;
        background: rgba(0, 0, 0, 0.3);
        box-shadow: 8px 0px 30px rgba(0, 0, 0, 0.5);
        color: $white;
        font-size: $fs-m;
        width: 100%;
        overflow: hidden;
        grid-column: 1/2;
        display: grid;
        grid-template-columns: 10% 10% 70% 10%;
        grid-template-rows: 24px 40px calc(100vh - 24px - 40px - 84px);
        grid-row-gap: 28px;
        &::before {
          content: "";
          margin: -35px;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          filter: blur(20px);
          z-index: -1;
        }
        #select-mode {
          grid-row: 1/5;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .mode {
            margin: 10px 0;
            padding-top: 100%;
            height: auto;
            border-radius: 0 5px 5px 0;
            position: relative;
            transition: 0.2s ease-out;
            cursor: pointer;
            &.marketcap {
              background: $black url("../img/icons/marketcap.svg") no-repeat
                center center / 30%;
            }
            &.watchlist {
              background: $black url("../img/icons/binoculars.svg") no-repeat
                center center / 30%;
            }
            &.news {
              background: $black url("../img/icons/news.svg") no-repeat center
                center / 30%;
            }
            &:hover {
              background-color: $grey-1;
              transition: background-color 0.1s ease-out;
            }
          }
        }
        #market-info {
          grid-column: 3/4;
          p {
            margin: 0;
            padding: 10px 0;
          }
          p > span:first-child {
            margin-right: 20px;
          }
        }
        #search {
          grid-column: 3/4;
          grid-row: 2/3;
          .crypto-search {
            width: 100%;
            height: 100%;
            border-radius: 2px;
            border: 0;
            padding: 0 35px;
            color: $grey-2;
            font-size: $fs-m;
            font-family: $ff-main;
            background: $white url("../img/icons/magnify.svg") no-repeat scroll
              7px 7px;
            &:focus {
              outline: 0;
              color: $black;
            }
          }
        }
        #c-root {
          grid-column: 3/5;
          grid-row: 3/5;
          overflow-y: overlay;
          overflow-x: hidden;

          .ticker-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: stretch;
            padding: 0 12.5% 0 0;
            &:empty {
              content: "loading...";
            }
            .ticker {
              border: 2px solid $white;
              border-radius: 2px;
              margin: 0 0 4% 0;
              width: 48%;
              height: 101px;
              overflow: hidden;
              display: flex;
              .rank {
                width: 36px;
                height: 100%;
                background: $white;
                color: $grey-1;
                font-weight: bold;
                margin-left: -2px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              .coin-info {
                width: calc(100% - 25px + 2px);
                display: flex;
                flex-direction: column;
                .coin-name {
                  height: 50%;
                  padding: 8px;
                  display: flex;
                  align-items: center;
                  background: rgba(255, 255, 255, 0.1);
                  .coin-icon {
                    width: 32px;
                    height: 32px;
                    margin-right: 5px;
                  }
                  p {
                    display: inline;
                  }
                  small {
                    margin-left: 5px;
                  }
                }
                .coin-value {
                  @extend .coin-name;
                  background: none;
                  border-bottom: 0;
                  .coin-price {
                    width: 80%;
                  }
                  .coin-price-change {
                    width: 30%;
                  }
                }
              }
            }
          }
        }
      }
      .time {
        color: $white;
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 80px auto 40px 40px;
        grid-column: 2/3;
        #time {
          line-height: 100%;
          font-size: 1000%; // text-align: center;
          grid-column: 2/3;
          grid-row: 2/3;
          display: flex;
          align-items: center;
          padding: 20px;
          h1,
          h2,
          h3 {
            margin: 0;
            line-height: 1.15em;
          }
        }
      }
    }
  }
}

.news-container {
  padding-right: 12.5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  .article-container {
    margin-bottom: 2rem;
    a {
      color: $white;
      text-decoration: none;
      .article {
        width: 100%;
        border-radius: 4px;
        border: 2px solid $white;
        display: flex;
        flex-direction: column;
        .article-image-container {
          width: 100%;
          max-height: 200px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          .article-image {
            max-width: 100%;
            border-radius: 4px 4px 0 0;
          }
        }
        .article-info {
          background: $white;
          color: $black;
          .article-title {
            font-family: $ff-news;
            font-size: 24px;
            font-weight: 700;
            background-color: rgba(0, 0, 0, 0.1);
            padding: 0.5rem 1rem;
            transition: color 0.2s ease-out;
          }
          .article-description {
            font-size: 16px;
            transition: color 0.2s ease-out;
          }
          p {
            margin: 0;
            padding: 1rem;
          }
        }
        &:hover {
          .article-info {
            .article-title,
            .article-description {
              color: #1c9edc;
              transition: color 0.2s ease-out;
            }
          }
        }
      }
    }
  }
  .article-credits {
    margin: 2rem 0;
    font-size: 12px;
    a {
      color: $white;
    }
  }
}
