/* Fonts */
$ff-main: 'Hind', sans-serif;
$fs-small: 14px;
$fs-medium: 18px;
$fs-large: 32px;


/* Standaard kleuren */
$white: #fff;
$black: #000;
$grey-1: #333;
$grey-2: #999;
$blue: #3e53f4;
$red: #ce4444;
$green: #20cc68;