/* Fonts */
$ff-main: "Hind", sans-serif;
$ff-news: "Merriweather", sans-serif;
$fs-s: 14px;
$fs-m: 18px;
$fs-l: 36px;
$fs-xl: 72px;
$fs-xxl: 128px;

/* Standaard kleuren */
$white: #fff;
$black: #000;
$grey-1: #333;
$grey-2: #999;
$grey-3: #ddd;
$blue: #627eea;
$red: #ce4444;
$green: #20cc68;
